*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
  background: url('/design/images/paysage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: rgb(0, 0, 0);
}